@model IEnumerable<LivreEnFolie.Models.Livre>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container">
    <div class="card mt-4">
        <div class="card-header">Liste des livre</div>
        <div class="card-body">
            <a href="/livre/add" class="btn btn-primary mt-3 mb-3">Nouveau livre</a>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Categorie</th>
                        <th>Quantite</th>
                        <th>Prix</th>
                        <th>Auteur</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LivreEnFolie.Models.Livre livre in Model)
                    {
                        <tr>
                            <td>@livre.titre </td>
                            <td>@livre.categorie</td>
                            <td>@livre.quantite</td>
                            <td>@livre.prix</td>
                            <td>@livre.nom @livre.prenom</td>
                            <td>
                                <a href="/livre/update/@livre.id_livre" class="btn btn-success" role="button"><i class="fa fa-pencil"></i></a>
                                <a href="/livre/delete/@livre.id_livre" class="btn btn-danger" onclick="Confirmer()" role="button"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>
<script type="text/javascript" src="~/js/Livre.js"></script>
